.picker-footer {
  height: 36px;
  background: #EBEEF2;
  &--list {
    padding: 0;
    margin: 0;
    height: 100%;
    &---tab {
      display: inline;
      float: left;
      height: 100%;
      &.active {
        background: white;
      }
      &_button {
        height: 100%;
        border: none;
        display: flex;
        cursor: pointer;
        background: none;
        svg {
          margin: auto;
        }
      }
    }
  }
}