.picker {
  width: 290px;
  height: 281px;
  background: #FFFFFF;
  border: 1px solid #C5D0DB;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  opacity: 1;
  transition: opacity 0.3s ease;
  &-sectionList {
    overflow-y: auto;
    height: 245px;
  }
  &:after, &:before {
   position: absolute;
   content: '';
   top: 100%;
   right: 9px;
   border: solid transparent;
   border-radius: 4px;
 }
  &:after {
    border-width: 5px;
    border-top-color: #EDEEF0;
    transform: translate3d(0, -1px, 0);
  }
  &:before {
    border-width: 5.4px;
    border-radius: 10px;
    border-top-color: #C5D0DB;
  }
}
.closed {
  opacity: 0;
}