.message-input {
    border: 1px solid #C5D0DB;
    border-radius: 4px;
    width: 290px;
    min-height: 36px;
    display: flex;
    position: relative;
    &--text {
        margin: auto 0;
        padding: 2px 5px;
        width: 90%;
        max-height: 300px;
        min-height: 20px;
        display: block;
        overflow-y: auto;
        text-align: start;
        &:focus {
            outline: none;
        }
    }
    &--emojiToggle {
        height: 36px;
        width: 10%;
        display: flex;
        &---button {
            cursor: pointer;
            margin: auto;
            display: block;
        }
    }
    .picker {
        position: absolute;
        top: -290px;
    }
}

[contenteditable=true]:empty:before, .placeholder{
    content: attr(placeholder);
    pointer-events: none;
    display: block;
    color: #939393;
}

.hashtag {
    color: var(--blue);
}
.link, .link:visited {
    color: var(--blue);
    text-decoration: none;
}